@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  padding: 0;
  margin: 0;
  font-family: 'Lexend Deca';
}

.alice-carousel__stage-item.__active {
  width: 35.2% !important;
}
